
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Toast
@import "~jquery-toast-plugin/src/jquery.toast";


.login-text {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

.panel-heading > h2 {
    margin: 0px;
    margin-top: 3px;
    font-size: 24px;
}